<!DOCTYPE html>
<html>

   <head>
      <meta charset="UTF-8">
      <title>CoffeWizard</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
             <link rel="stylesheet" th:href="@{/css/StyleHomePage.css}">

   </head>

<body>
       <nav>
             
             <a href="/HomePage/">HOME</a>
             <a href="/CreateProfile/">Register</a>
             <a href="/Contact/">Contact Us</a>
       </nav>
       
       
              <select>
                  <option value="Drak Roast">Super Dark Roast</option>
                  <option value="Drak Roast">Dark Roast</option>
                  <option value="Drak Roast">Medium Roast</option>
                  <option value="Drak Roast">Light Roast</option>


              </select>
              
           
      


</body>
</html>